* {
 font-family: sans-serif;
 margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    /* cursor: url('https://github.com/chenglou/react-motion/raw/master/demos/demo8-draggable-list/cursor.png') 60 60, auto; */

}

.container{
  color: white;
}

.container_canvas{
    position: absolute;
    display: block;
    border:rgba(44, 44, 44, 0.45);
    width: 50vw;
    height: 85vh;
    top: 70px;
    right: 0;
}

* {
    box-sizing: border-box;
  }
  
  html,
  body,
  #root {
    width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
  }
  
  body {
    font-family: 'Inter var', sans-serif;
    color: white;
    /* background: #101010; */
    user-select: none;
  }
  
  .fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
  }
  
  .bg {
    background: #101010;
  }
  
  .fullscreen.notready {
    color: #606060;
  }
  
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    color: #808080;
    padding: 40px;
    pointer-events: none;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    font-size: 10px;
    line-height: 1.5em;
  }
  
  .menu.left {
    justify-content: flex-start;
  }
  
  .menu.right {
    justify-content: flex-end;
  }
  
  .menu > div {
    word-wrap: none;
    word-break: none;
    white-space: pre;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .menu > div b {
    font-weight: 600;
    color: #b0b0b0;
  }
  
  .fullscreen.ready > div {
    cursor: pointer;
  }
  
  .fullscreen.clicked {
    pointer-events: none;
    opacity: 0;
  }
  
  .menu a {
    pointer-events: all;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    font-family: serif;
  }
  .menu a:hover {
    text-decoration: underline;
    color: inherit;
  }

 
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  canvas {
    /* opacity: 1; */
    touch-action: none;
    animation: fade-in 2s ease 0.5s forwards;
  }
  

  .cards{
    color: #fff;
    font: 100 24px/100px sans-serif;
    height: 100%;
    width: 100%;
    
    text-align: center;
    display: flex;
  flex-wrap: wrap;
    padding: 10px;
    box-sizing: border-box;
    

      }

  .card{
    height: 300px;
    width: 250px;
    padding: 10px;
    
    margin: 20px;
    background: #101010;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease-in;
  }

.buttonsmenu{
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    color: #808080;
    padding: 0;
    right: 20px;
    pointer-events: none;
    justify-content: end;
    align-items: flex-end;
    flex-direction: row;
    font-size: 10px;
    line-height: 1.5em;
  }

  .buttonsmenu.left {
    justify-content: flex-start;
  }
  
  .buttonsmenu.right {
    justify-content: flex-end;
  }
  
  .buttonsmenu > div {
    word-wrap: none;
    word-break: none;
    white-space: pre;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .buttonsmenu > div b {
    font-weight: 600;
    color: #b0b0b0;
  }
  
  .buttonsmenu.ready > div {
    cursor: pointer;
  }
  
  .buttonsmenu.clicked {
    pointer-events: none;
    opacity: 0;
  }
  
  .buttonsmenu a {
    pointer-events: all;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    font-family: serif;
  }
  .buttonsmenu a:hover {
    text-decoration: underline;
    color: inherit;
  }

  .card:hover{
    transform: scale(1.03);
  }

  /* .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 2s ease-in;
  }

  .card:hover img{
    transform: scale(1.1);
  }

  .card h2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    opacity: 0;
    transition: all 2s ease-in;
  }

  .card:hover h2{
    font-size: 40px;
    opacity: 1;
  }

  .card h2 span{
} */