.App {
  text-align: center;
  padding-left: calc(100vw - 100%);
  background: black;
  height: 100vh;
}


nav div {
  pointer-events: all;
  cursor: pointer;
  color: gray;
  text-decoration: none;
  font-family: serif;
  width: 150px;
}

nav a {
  color: gray;
}
nav div:hover {
  color: white;
  border-bottom: 2px solid white;
  transition: 0.5s ease-in-out;
}
nav div a:hover {
  color: white;
  transition: 0.2s ease-in-out;
}